.form-size{
    max-width: 500px;
    margin: 0 auto;

    background-color: #E9E9E9;
    padding: 20px;

    border: 2px solid #A5A5A5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}